@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  /* background-color: #EEEEEE; */
  /* background-color: rgba(40, 40, 40, .8); */
}

#output {
  padding: 20px;
  text-align: center;
}
